* {
    box-sizing: border-box;
}

body {
    font-family: "Titillium Web", Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    font-size: 18px;
    line-height: 30px;
    color: #434A54;
}

.header {
    padding: 28px 0 29px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px 0 75px;
}

.navigation-menu {
    display: flex;
}

.navigation-menu__item:not(:first-child) {
    margin-left: 22px;
}

.menu-link {
    font-family: "Sailec-Bold", Arial, sans-serif;
    letter-spacing: 0.25px;
    color: rgba(102, 102, 102, 0.85);
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: .2s;
}

.menu-link:hover {
    border-color: rgba(102, 102, 102, 0.85);
}

.menu-link:active, .menu-link:focus {
    color: #4a4a4a;
    border-color: #4a4a4a;
}


.promo__container {
    display: flex;

}

.promo__about-text {
    max-width: 522px;
    margin-bottom: 20px;
    font-family: Sailec-Bold, Arial, sans-serif;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
}

.promo__text {
    max-width: 521px;
}

.promo__col {
    flex-basis: 50%;
}

.promo__col:first-child {
    padding: 134px 8px 151px 70px;
}

.promo__col:last-child {
    background: url("../images/promo.png") no-repeat;
}