* {
    box-sizing: border-box;
}

body {
    font-family: "Titillium Web", Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-family: Sailec-Bold, Arial, sans-serif;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
}

.text {
    font-size: 18px;
    line-height: 30px;
    color: #434A54;
}

.link {
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #1D6FF3;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: .2s;
}

.link:hover {
    border-color: #1D6FF3;
}

.link:active, .link:focus {
    color: #12449f;
    border-color: #12449f;
}

.link--secondary {
    font-size: 14px;
    line-height: 24px;
    color: #637280;
}

.link--secondary:hover {
    border-color: #637280;
}

.link--secondary:active, .link--secondary:focus {
    color: #3B4651;
    border-color: #3B4651;
}


.separator-line {
    width: 30px;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
}

.header {
    padding: 28px 0 29px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px 0 75px;
}

.hamburger-toggle {
    display: none;
}

.hamburger-toggle__el {
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgba(102, 102, 102, 0.85);
}

.hamburger-toggle__el:not(:last-child) {
    margin-bottom: 6px;
}

.navigation-menu {
    display: flex;
}

.navigation-menu__item:not(:first-child) {
    margin-left: 22px;
}

.menu-link {
    font-family: "Sailec-Bold", Arial, sans-serif;
    letter-spacing: 0.25px;
    color: rgba(102, 102, 102, 0.85);
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: .2s;
}

.menu-link:hover {
    border-color: rgba(102, 102, 102, 0.85);
}

.menu-link:active, .menu-link:focus {
    color: #4a4a4a;
    border-color: #4a4a4a;
}


.promo__container {
    display: flex;
}

.promo__about-text {
    max-width: 522px;
    margin-bottom: 20px;
    font-family: Sailec-Bold, Arial, sans-serif;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
}

.promo__text {
    max-width: 521px;
}

.promo__col {
    flex-basis: 50%;
}

.promo__col:first-child {
    padding: 134px 8px 151px 70px;
}

.promo__col:last-child {
    background: url("../images/promo.png") no-repeat;
}

.about-portfolio {
    padding: 30px 0;
}

.about-portfolio__container {
    display: flex;
}

.about-portfolio__col {
    flex-basis: 50%;
}

.about-portfolio__col:first-child {
    background: url("../images/about-portfolio.png") no-repeat;
}

.about-portfolio__col:last-child {
    padding: 161px 0 174px 25px;
}

.about-portfolio__title {
    max-width: 437px;
    margin-bottom: 15px;
}

.about-portfolio__text {
    max-width: 458px;
    margin-bottom: 28px;
}


.about-learning__container {
    display: flex;
}

.about-learning__col {
    flex-basis: 50%;
}

.about-learning__title {
    margin-bottom: 20px;
}

.about-learning__text {
    margin-bottom: 59px;
}

.about-learning__col:first-child {
    padding: 183px 30px 207px 70px;
}

.about-learning__col:last-child {
    background: url("../images/about-learning.png") no-repeat;
}


.from-blog {
    padding: 50px 0;
}

.from-blog__container {
    max-width: 1050px;
}

.from-blog__title {
    margin-bottom: 12px;
}

.blog-posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-post {
    flex-basis: 330px;
}

.blog-posts__item:not(:first-child) {
    margin-left: 30px;
}

.blog-posts__item:nth-child(4) {
    margin-left: 0;
}

.blog-post__img {
    display: block;
    width: 100%;
    line-height: 0;
}

.blog-post__text-content {
    max-width: 280px;
    margin: 0 auto;
    padding: 17px 20px;
    background-color: #fff;
    transform: translateY(-50px);
}

.blog-post__link {
    font-family: Sailec-Bold, Arial, sans-serif;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: .2s;
}

.blog-post__link:hover {
    border-color: #4A4A4A;
}

.blog-post__link:active, .blog-post__link:focus {
    color: #303030;
    border-color: #303030;
}

.blog-post__short-text {
    line-height: 26px;
    color: #434A54;
}

.blog-post__separator-line {
    margin: 4px 0 9px 0;
}


.start-learning {
    padding: 79px 0 81px 0;
    background: #EEEEEE;
}

.start-learning__container {
    display: flex;
    padding: 0 120px 0 75px;
}

.start-learning__title {
    margin-bottom: 18px;
}

.start-learning__text {
    max-width: 463px;
}

.start-learning__col:last-child {
    flex-basis: 420px;
    margin-left: 122px;
}

.form-subscribe {
    display: flex;
    width: 100%;
}

.form-subscribe__input {
    flex-grow: 1;
}

.input {
    padding: 0 17px 0 7px;
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 0.25px;
    color: #979797;
    border: 1px solid #979797;
    outline: none;
    transition: .2s;
}

.input::placeholder {
    color: #979797;
    transition: .2s;
}

.input:hover {
    border-color: #1D6FF3;
}

.input:hover::placeholder {
    color: #4A4A4A;
}

.input:focus {
    border-color: #1D6FF3;
    box-shadow: 0 0 2px 0 #4487e9;
}

.btn {
    padding: 0 22px 0 23px;
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 0.25px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0 4px 4px 0;
    background: #1D6FF3;
    cursor: pointer;
    outline: none;
    transition: .2s;
}

.btn:hover, .btn:focus {
    background: #095bdb;
}


.footer {
    padding: 50px 0 105px 0;
}

.footer__container {
    padding: 0 75px;
    display: flex;
}

.footer__col {
    flex-basis: 240px;
}

.footer__col:not(:first-child) {
    margin-left: 30px;
}

.footer__title {
    margin-bottom: 19px;
}

.footer__list-links-item:not(:last-child) {
    margin-bottom: 8px;
}

.footer__separator-line {
    margin: 25px 0 17px 0;
}

.socials {
    display: flex;
    align-items: flex-end;
}

.footer__social-link:not(:first-child) {
    margin-left: 9px;
}

.social-link {
    text-decoration: none;
}

.social-link__icon {
    fill: #1976D2;
    transition: .2s;
}

.social-link:hover .social-link__icon,
.social-link:focus .social-link__icon {
    fill: #095bdb;
}

.social-link__icon-facebook {
    width: 10px;
    height: 19px;
}

.social-link__icon-twitter {
    width: 19px;
    height: 15px;
}

.social-link__icon-linkedin {
    width: 19px;
    height: 19px;
}


@media screen and (max-width: 1023px) {
    .header {
        padding: 20px 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
    }

    .hamburger-toggle {
        display: block;
    }

    .hamburger-toggle__el {
        transition: .3s;
    }

    .hamburger-toggle--active .hamburger-toggle__el:first-child {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .hamburger-toggle--active .hamburger-toggle__el:nth-child(2) {
        transform: scale(0);
    }

    .hamburger-toggle--active .hamburger-toggle__el:last-child {
        transform: rotate(-45deg) translate(6px, -7px);
    }

    .header__navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        background-color: rgba(0, 0, 0, 0.5);
        visibility: hidden;
        opacity: 0;
        transition: .3s;
    }

    .navigation-menu {
        flex-basis: 230px;
        flex-direction: column;
        padding-top: 61px;
        background-color: #fff;
        padding-left: 20px;
        transform: translateX(230px);
        transition: .3s;
    }

    .navigation-menu__item:not(:first-child) {
        margin: 20px 0 0 0;
    }

    .navigation--active {
        visibility: visible;
        opacity: 1;
    }

    .navigation--active .navigation-menu {
        transform: translateX(0);
    }

    .main {
        margin-top: 61px;
    }

    .promo__about-text {
        font-size: 35px;
        line-height: 50px;
    }

    .title {
        font-size: 26px;
        line-height: 33px;
    }

    .text {
        font-size: 16px;
        line-height: 24px;
    }

    .about-portfolio__col:last-child {
        padding-right: 65px;
        padding-bottom: 10%;
    }

    .start-learning__container {
        padding-right: 65px;
    }

    .footer__container {
        padding-right: 65px;
    }
}

@media screen and (max-width: 1269px) {
    .promo__col:last-child, .about-portfolio__col:first-child,
    .about-learning__col:last-child {
        background-size: contain;
    }

    .about-learning__col:first-child {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 1185px){
    .from-blog__container {
        padding: 0 65px 0 70px;
    }

    .from-blog__title {
        text-align: center;
    }

    .blog-posts__item:nth-child(3),
    .blog-posts__item:nth-child(5) {
        margin-left: 0;
    }

    .blog-posts__item:nth-child(4) {
        margin-left: 30px;
    }

    .blog-post__link {
        font-size: 20px;
        line-height: 24px;
    }

    .blog-post__short-text{
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 990px) {
    .promo__col:first-child {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 896px) {
    .promo__col:first-child {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@media screen and (max-width: 870px) {
    .about-portfolio__col:last-child {
        padding-top: 10%;
    }

    .start-learning__col:last-child {
        margin-left: 26px;
    }
}

@media screen and (max-width: 824px) {
    .from-blog__container {
        max-width: 330px;
        padding: 0;
    }

    .blog-posts__item:nth-child(n+2) {
        margin-left: 0;
    }
}

@media screen and (max-width: 788px) {
    .footer {
        padding-bottom: 50px;
    }

    .footer__container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__col:nth-child(n+3) {
        margin-top: 30px;
    }

    .footer__col:nth-child(3) {
        margin-left: 0;
    }

    .footer__col:nth-child(2n+2) {
        margin-left: 10%;
    }
}

@media screen and (max-width: 750px) {
    .about-learning__col:first-child {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@media screen and (max-width: 700px) {
    .about-portfolio__col:last-child {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .promo, .about-portfolio, .about-learning {
        position: relative;
    }

    .promo__container, .about-portfolio__container,
    .about-learning__container, .start-learning__container {
        flex-direction: column;
    }

    .promo__col:first-child, .about-learning__col:first-child {
        padding-right: 65px;
    }

    .promo__col:last-child, .about-portfolio__col:first-child,
    .about-learning__col:last-child {
        position: absolute;
        bottom: 0;
        width: 32%;
        height: 70%;
        z-index: -1;
    }

    .promo__col:last-child, .about-learning__col:last-child {
        left: 0;
    }

    .about-portfolio__col:first-child {
        right: 0;
    }

    .about-portfolio__col:last-child {
        padding-left: 70px;
    }

    .promo__about-text, .about-portfolio__title, .about-learning__title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .promo__text {
        max-width: 450px;
        margin: 0 auto;
    }

    .about-portfolio__text, .about-portfolio__link-wrap,
    .about-learning__text, .about-portfolio__link-wrap {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-learning__text {
        margin-bottom: 28px;
    }

    .from-blog__container {
        padding: 0;
    }

    .start-learning {
        padding: 40px 0;
    }

    .start-learning__col:first-child {
        margin-bottom: 50px;
    }

    .start-learning__col:last-child {
        flex-basis: auto;
        margin-left: 0;
    }
}

@media screen and (max-width: 673px) {
    .footer__col {
        flex-basis: 160px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        max-width: 90%;
    }

    .header__container {
        padding-left: 0;
        padding-right: 0;
    }

    .promo__col:first-child, .about-portfolio__col:last-child,
    .about-learning__col:first-child, .start-learning__container,
    .footer__container {
        padding-left: 0;
        padding-right: 0;
    }

    .promo__about-text {
        font-size: 26px;
        line-height: 35px;
    }

    .title {
        font-size: 21px;
        line-height: 1;
    }

    .footer__col {
        flex-basis: 100%;
    }

    .footer__col:nth-child(n+2) {
        margin-top: 30px;
    }

    .footer__col:nth-child(2n+2) {
        margin-left: 0;
    }
}

@media screen and (max-width: 360px) {
    .form-subscribe__btn {
        padding: 0 5px;
    }
}

.title--secondary {
    font-size: 24px;
    line-height: 29px;
}

.title--small {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}