* {
    box-sizing: border-box;
}

body {
    font-family: "Titillium Web", Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-family: Sailec-Bold, Arial, sans-serif;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
}

.title--secondary {
    font-size: 24px;
    line-height: 29px;
}

.text {
    font-size: 18px;
    line-height: 30px;
    color: #434A54;
}

.link {
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #1D6FF3;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: .2s;
}

.link:hover {
    border-color: #1D6FF3;
}

.link:active, .link:focus {
    color: #12449f;
    border-color: #12449f;
}

.separator-line {
    width: 30px;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
}

.header {
    padding: 28px 0 29px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px 0 75px;
}

.navigation-menu {
    display: flex;
}

.navigation-menu__item:not(:first-child) {
    margin-left: 22px;
}

.menu-link {
    font-family: "Sailec-Bold", Arial, sans-serif;
    letter-spacing: 0.25px;
    color: rgba(102, 102, 102, 0.85);
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: .2s;
}

.menu-link:hover {
    border-color: rgba(102, 102, 102, 0.85);
}

.menu-link:active, .menu-link:focus {
    color: #4a4a4a;
    border-color: #4a4a4a;
}


.promo__container {
    display: flex;
}

.promo__about-text {
    max-width: 522px;
    margin-bottom: 20px;
    font-family: Sailec-Bold, Arial, sans-serif;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
}

.promo__text {
    max-width: 521px;
}

.promo__col {
    flex-basis: 50%;
}

.promo__col:first-child {
    padding: 134px 8px 151px 70px;
}

.promo__col:last-child {
    background: url("../images/promo.png") no-repeat;
}

.about-portfolio {
    padding: 30px 0;
}

.about-portfolio__container {
    display: flex;
}

.about-portfolio__col {
    flex-basis: 50%;
}

.about-portfolio__col:first-child {
    background: url("../images/about-portfolio.png") no-repeat;
}

.about-portfolio__col:last-child {
    padding: 161px 0 174px 25px;
}

.about-portfolio__title {
    max-width: 437px;
    margin-bottom: 15px;
}

.about-portfolio__text {
    max-width: 458px;
    margin-bottom: 28px;
}


.about-learning__container {
    display: flex;
}

.about-learning__col {
    flex-basis: 50%;
}

.about-learning__title {
    margin-bottom: 20px;
}

.about-learning__text {
    margin-bottom: 59px;
}

.about-learning__col:first-child {
    padding: 183px 30px 207px 70px;
}

.about-learning__col:last-child {
    background: url("../images/about-learning.png") no-repeat;
}


.from-blog {
    padding: 50px 0;
}

.from-blog__container {
    max-width: 1050px;
}

.from-blog__title {
    margin-bottom: 12px;
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
}

.blog-post {
    flex-basis: 330px;
}

.blog-posts__item:not(:first-child) {
    margin-left: 30px;
}

.blog-posts__item:nth-child(4) {
    margin-left: 0;
}

.blog-post__img {
    display: block;
    width: 100%;
    line-height: 0;
}

.blog-post__text-content {
    max-width: 280px;
    margin: 0 auto;
    padding: 17px 20px;
    background-color: #fff;
    transform: translateY(-50px);
}

.blog-post__link {
    font-family: Sailec-Bold, Arial, sans-serif;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: .2s;
}

.blog-post__link:hover {
    border-color: #4A4A4A;
}

.blog-post__link:active, .blog-post__link:focus {
    color: #303030;
    border-color: #303030;
}

.blog-post__short-text {
    line-height: 26px;
    color: #434A54;
}

.blog-post__separator-line {
    margin: 4px 0 9px 0;
}


.start-learning {
    padding: 79px 0 81px 0;
    background: #EEEEEE;
}

.start-learning__container {
    display: flex;
    padding: 0 120px 0 75px;
}

.start-learning__title {
    margin-bottom: 18px;
}

.start-learning__text {
    max-width: 463px;
}

.start-learning__col:last-child {
    flex-basis: 420px;
    margin-left: 122px;
}

.form-subscribe {
    display: flex;
    width: 100%;
}

.form-subscribe__input {
    flex-grow: 1;
}

.input {
    padding: 0 17px 0 7px;
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 0.25px;
    color: #979797;
    border: 1px solid #979797;
    outline: none;
    transition: .2s;
}

.input::placeholder {
    color: #979797;
    transition: .2s;
}

.input:hover {
    border-color: #1D6FF3;
}

.input:hover::placeholder {
    color: #4A4A4A;
}

.input:focus {
    border-color: #1D6FF3;
    box-shadow: 0 0 2px 0 #4487e9;
}

.btn {
    padding: 0 22px 0 23px;
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 0.25px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0 4px 4px 0;
    background: #1D6FF3;
    cursor: pointer;
    outline: none;
    transition: .2s;
}

.btn:hover, .btn:focus {
    background: #095bdb;
}